.header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    img{
        height: 100%;
        width: 100%;
    }
    nav{
        ul{
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 5px;
            li{
                background-color: #89004f;
                padding: 10px;
                border: 2px solid black;
                border-radius: 10px;
                text-align: center;
                a{
                    color: white;
                    font-family: 'copeland';
                    text-decoration: none;
                    font-size: 30px;
                }
            } 
        }
    }
    .whatsapfijo{
        position: fixed;
        bottom: 7px;
        right: 10px;
        img{
            height: 50px;
            width: 50px
        }
        animation: pulse 1s infinite;
    }
}
