.mainindex{
    .section1index{
        h1{
            color: white;
            font-size: 50px;
            font-family: 'copeland';
            text-align: center;
        }
        iframe{
            height:70%;
            width: 100%;
        }
        p{
            color: black;
            font-size: 30px;
            text-align: center;
        }
    }
    .section2index{
        h2{
            color: white;
            font-size: 50px;
            font-family: 'copeland';
            text-align: center;
        }
        img{
            width: 60%;
            margin: auto;
            display: block;
        }
        p{
            color: black;
            font-size: 30px;
            text-align: center;
        }
    }
}