.mainrutinas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}
.h1rutinas{
    color: white;
    font-size: 50px;
    font-family: 'copeland';
    text-align: center;
}
.imgrutinas{
    height: 50%;
    width: 100%;
}