@import "variables";
@import "header";
@import "footer";
@import "index";
@import "tratamientos";
@import "rutinas";
@import "contacto";
@import "productos";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $colorbase;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.navbootstrap nav {
    margin-right: 25px;
    display: flex;
    justify-content: center;
}

@include celular{
    .section2index{
        display: none;
    }
    .nav{
        nav{
            ul{
                grid-template-columns: 1fr;
            } 
        }
    }
    .navbootstrap{
        nav{
            ul{
                grid-template-columns: 1fr;

            } 
        }
    }
} 



