@font-face {
  font-family: "patungregular";
  src: url("patung-webfont.woff2") format("woff2"), url("patung-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "copelandregular";
  src: url("copeland-webfont.woff2") format("woff2"), url("copeland-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.header {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
}
.header img {
  height: 100%;
  width: 100%;
}
.header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
}
.header nav ul li {
  background-color: #89004f;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}
.header nav ul li a {
  color: white;
  font-family: "copeland";
  text-decoration: none;
  font-size: 30px;
}
.header .whatsapfijo {
  position: fixed;
  bottom: 7px;
  right: 10px;
  animation: pulse 1s infinite;
}
.header .whatsapfijo img {
  height: 50px;
  width: 50px;
}

footer {
  background-color: #89004f;
  text-align: center;
  grid-column: 1/4;
  grid-row: 1/4;
}
footer p {
  color: #ff69b4;
  font-size: 40px;
  font-family: "patung";
}

.mainindex .section1index h1 {
  color: white;
  font-size: 50px;
  font-family: "copeland";
  text-align: center;
}
.mainindex .section1index iframe {
  height: 70%;
  width: 100%;
}
.mainindex .section1index p {
  color: black;
  font-size: 30px;
  text-align: center;
}
.mainindex .section2index h2 {
  color: white;
  font-size: 50px;
  font-family: "copeland";
  text-align: center;
}
.mainindex .section2index img {
  width: 60%;
  margin: auto;
  display: block;
}
.mainindex .section2index p {
  color: black;
  font-size: 30px;
  text-align: center;
}

.imgcarrousel {
  height: 40%;
  width: 100%;
}

.h1tratamientos {
  color: white;
  font-size: 50px;
  font-family: "copeland";
  text-align: center;
}

.mainrutinas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}

.h1rutinas {
  color: white;
  font-size: 50px;
  font-family: "copeland";
  text-align: center;
}

.imgrutinas {
  height: 50%;
  width: 100%;
}

.maincontacto {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.labelplanilla {
  color: #c33b80;
  font-size: 40px;
  font-family: "patung";
}

h1 {
  color: white;
  font-size: 50px;
  font-family: "copeland";
  text-align: center;
}

h3 {
  color: #c33b80;
  font-size: 40px;
  font-family: "patung";
  text-align: center;
}

.mainproductos {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}

.descripcion {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}
.descripcion h1 {
  color: black;
  font-size: 50px;
  font-family: "copeland";
  text-align: center;
}
.descripcion .laboratorios {
  display: flex;
  flex-direction: column;
}
.descripcion .laboratorios img {
  height: 40%;
  width: 100%;
}
.descripcion p {
  color: black;
  font-size: 30px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "header header header" ". main ." "footer footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.navbootstrap nav {
  margin-right: 25px;
  display: flex;
  justify-content: center;
}

@media (max-width: 426px) {
  .section2index {
    display: none;
  }
  .nav nav ul {
    grid-template-columns: 1fr;
  }
  .navbootstrap nav ul {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
