*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
}


.header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}
.logoestudiofem{
    height: 100%;
    width: 100%;
}
.navheader{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}
.navheader li{
    background-color:#89004f;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
.navegador{
    color:#ff69b4;
    font-family: 'copeland';
    text-decoration: none;
    padding: 10px;
}
.whatsapfijo{
    position: fixed;
    bottom: 7px;
    right: 10px;
}
.whatsapfijoimagen{
    height: 50px;
    width: 50px
}

.mainindex{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}
.indexvideo{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
}
.maincontacto{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    color:#c33b80;
    font-size: 2rem;
    font-family: 'copeland';
    text-align: center;
}
h3{
    color:#c33b80;
    font-size: 40px;
    font-family: 'copeland';
    text-align: center;
}
p{
    color: black;
    font-size: 20px;
    text-align: center;
}
.titulo{
    color:#c33b80;
    font-size: 40px;
    font-family: 'copeland';
    text-decoration: none;
}
.macaolmedo{
    color:black;
    font-size: 80px;
    font-family: 'patung';
    font-weight: 100;
}
.parrafo{
    color:black;
    font-size: 20px;
    text-align:left;
}
.labelplanilla{
    color:#c33b80;
    font-size: 40px;
    font-family: 'patung';
}

.mainproductos{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer{
    background-color: #89004f;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 3 / 4;

}
#derechosreservados{
    color:#ff69b4;
    font-size: 20px;
    font-family: 'patung';
}
